/*
Name: Matt Tounkara
Date: 02/22/2018
Description: This is the CSS file for the to-save-cats homework.
its role is to create style for the index.html of the contact us page.

*/

 *{
   box-sizing: border-box;
 }

 .row{
  clear: both; /* Forces new block context we can expect*/
  overflow: auto;  /* Forces the row to have a height.*/
  border-radius: 10px;

  /* padding-left: 200px;  It was the problem !!! */

 }


 /*add a media query */
@media all and (min-width: 480px){

.col-sm-12{
  width: 100%;
}

}

body{
  border: 25px solid lightgreen;
  padding: 70px;
  margin: 100px;
  border-radius: 10px;
  margin-top: auto;
}

/*To put the navigation bar on top of the page.  */
.theHeader{
  border-radius: 10px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK4D-fHq4rVlHf_Chq4w4BViera8evxNrIzsB0D-hPOmt-HhNPeQ);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}

.navigation{
  margin: 78px;
}

ul.navigation li a{
  font-size: 25px;
}

ul.navigation li {
  display: inline;
  margin: 10px;
}

ul.navigation li a{
  color: black;
  background-color: lightgray;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none; /* Remove the underline. */
  transition: all.5s;  /*Transition property.*/
}
ul.navigation li a:hover{
  text-decoration: underline;
  background-color: #fff;
  color: green;
  border-radius: 100px;
}

input {
  background-color: lightblue;
  padding: 10px;
  border-radius: 10px;
}

textarea{
  background-color: lightblue;
  border-radius: 10px;
  padding-left: 50px;
  margin-right: 10px;
}

label{
  font-weight: bold;
  font-size: 20px;
}

.toContact
{
  text-align: center;
  border: 25px solid violet;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-top: 50px;
}

.toContact p
{
  font-size: 25px;
  margin: 0;
}

button{
  padding: 5px 10px;
  border-radius: 10px;
  background-color: violet;
}

.theMainDiv{
  border: 50px solid yellow;
  border-radius: 10px;
  background-color: lightblue;
  padding: 10px;
}

.theMainDiv p{
  font-family: sans-serif;
  font-size: 25px;
  text-align: left;
}
