body{
  font-size: 16px Helvetica, Arial ,Serif;
  background-color: pink;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  text-align: center;
}
#catPicture{
  width: 25%;
  height: 25%;
  float: left;
}
.navigation{

}

ul.navigation li a{
  font-size: 25px;
}

ul.navigation li {
  display: inline;
  margin: 10px;
}

ul.navigation li a{
  color: black;
  background-color: lightgray;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none; /* Remove the underline. */
  transition: all.5s;  /*Transition property.*/
}
ul.navigation li a:hover{
  text-decoration: underline;
  background-color: #fff;
  color: green;
  border-radius: 100px;
}
.theHeader{
  /* position: absolute;
  top: 50px; */
  border-radius: 10px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK4D-fHq4rVlHf_Chq4w4BViera8evxNrIzsB0D-hPOmt-HhNPeQ);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
