body{
  font-size: 16px Helvetica, Arial ,Serif;
  background-color: pink;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  text-align: center;
}
#catPicture{
  width: 25%;
  height: 25%;
  float: left;
}
